{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Tracker</title>
    <link rel="stylesheet" href="{% static 'live_attendance.css' %}">
  </head> 
  <body> 
    <header> 
      <h1 class="logo">Live Attendance</h1> 
      <nav class="header__nav"> 
        <ul> 
          <li><a href="{% url 'home' %}" class="btn">Home</a></li> 
          <li><a href="{% url 'dashboard_home' %}" class="btn">Dashboard</a></li> 
          <li><a href="{% url 'staff' %}" class="btn">Add Staff</a></li> 
          <li><a href="{% url 'student' %}" class="btn">Add Students</a></li> 
          <li><a href="{% url 'student_reports' %}" class="btn">Student Report</a></li> 
          <li><a href="{% url 'staff_reports' %}" class="btn">Staff Report</a></li> 
        </ul> 
      </nav> 
    </header> 
    <main> 
      <h2>Live Attendance Table</h2> 
      <form method="post"> {% csrf_token %} <!-- Attendance form fields go here --> 
        <input type="hidden" name="image_data" id="image_data" value="">
        <button type="submit">Submit Attendance</button> 
      </form>
			<div style="display: flex;">
        <form method="GET" action="{% url 'attendance_table' %}">
          <input type="text" name="query" placeholder="Search..." value="{{ query }}" required>
          <label for="start_date">Start date:</label>
          <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
          <label for="end_date">End date:</label>
          <input type="date" name="end_date" id="end_date" value="{{ end_date }}">
          <button type="submit">Search</button>
      </form>
				<form method="GET" action="{% url 'attendance' %}">
					<button type="submit" >refresh</button>
				</form>
			</div>
      {% if message %}
        <p>{{ message }}</p>
      {% else %}
        <table>
          <thead>
            <tr>
              <th>Number</th>
              <th>Student Name</th>
              <th>ID Card Number</th>
              <th>Time Out</th>
              <th>Time In</th>
            </tr>
          </thead>
          <tbody>
            {% for attendance in attendance_data %}
              <tr>
                <td>{{ attendance.number }}</td>
                <td>{{ attendance.full_name }}</td>
                <td>{{ attendance.card_id }}</td>
                <td>{{ attendance.time_out }}</td>
                <td>{{ attendance.time_in }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">No attendance data available</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </main> 
  </body> 
</html>